<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bali-destination</title>
    <link rel="stylesheet" href="../css/bali-destination.css">
    <link rel="stylesheet" href="../css/query.css">
    <script src="../js/index.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Alkalami&family=Caveat&family=Dancing+Script&family=Domine:wght@400;500&family=DynaPuff&family=Great+Vibes&family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,500;1,100&family=Roboto:wght@100&family=Sansita+Swashed:wght@300;400;500&family=Smooch&family=Smooch+Sans:wght@100&family=Viga&display=swap"
        rel="stylesheet">
    <!-- --------------------------------------------------------------------------------------------- -->
    <!-- 2 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- link box icon -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- -------------------------------------------------------------- -->

    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <!-- ------------------------------------------------------------- -->


</head>

<body>
    <header class="header">
        <div class="button-back">
            <button><a href="/"> Back Home </a></button>

        </div>
        <div class="label-head">
            <h3>Bali </h3>
            <p>Culture & Nature Traveling</p>
        </div>
    </header>


    <!-- About -->
    <section class="about">
        <div class="content">
            <img src="../img/Destination/about.jpg" alt="">
            <div class="text">
                <h1>About Us</h1>
                <h5>Bali Island</h5>
                <p> 
                    The island of Bali is not just an ordinary tourist destination, but also a journey towards peace and cultural depth. With stunning beach views, verdant green rice fields and majestic mountains, every corner of this island holds stunning natural beauty.
                </p>
                <button type="button" class="about-button"><a href="https://id.wikipedia.org/wiki/Bali" target="_blank">Learn More</a></button>
            </div>
        </div>
    </section>
    <!-- About -->

    <!-- ------------------------------------------GALLRY------------------------------------------ -->
    <section class="Gallry">
        <div class="container-gallry">
            <span class="subheading-gallry">DESTINATION </span>
            <h2 class="heading-gallry">
                Bali island destination with <span>cultural and natural beauty</span>
            </h2>
            <h2 class="heading-secondary-2"> </h2>
        </div>
        <div class="Gallry-about">
            <img src="../img/Destination/Untitled design.png" alt="">
        </div>
    </section>
    <!-- ---------------------------------------------End Gallry-------------------------------------- -->
    <!----------------------------------------- Paket Traveling slide--------------------------------- -->
    <section class="Gallry">
        <div class="container-gallry-slide">
            <span class="subheading-gallry">DESTINATION </span>
            <h2 class="heading-gallry">
                Bali Island Destination Package <span>Nature Culture and Beach</span>
            </h2>
            <h2 class="heading-secondary-2"> </h2>
        </div>
    </section>
    <section class="slide-paket">
        <div class="container-slide">
            <div class="slide-wrapper">
                <i id="prev-slide" class="slide-button ri-arrow-left-circle-fill"></i>
                <div class="image-list">
                    <img src="../img/Destination/Monkey.jpg" alt="" class="image-item">
                    <img src="../img/Destination/Bratan.jpg" alt="" class="image-item">
                    <img src="../img/Destination/swing.jpg" alt="" class="image-item">
                    <img src="../img/Destination/uluwatu.jpg" alt="" class="image-item">
                    <img src="../img/Destination/Tirtha_empul.jpg" alt="" class="image-item">
                    <img src="../img/Destination/Bali.jpg" alt="" class="image-item">
                    <img src="../img/Destination/Balangan.jpg" alt="" class="image-item">
                    <img src="../img/Destination/Kuta.jpg" alt="" class="image-item">
                    <img src="../img/Destination/Bias tugel.jpg" alt="" class="image-item">
                </div>
                <i id="next-slide" class="ri-arrow-right-circle-fill"></i>
            </div>
            <div class="slider-scrol">
                <div class="scrolbar-track">
                    <div class="scrolbar-thumb">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="jumbotrun-section">
        <div class="jumbotrun">
            <div class="icon-container">
                <i class="ri-money-dollar-circle-line"></i>
                <span> 810.00 USD</span>
            </div>
            <div class="icon-container">
                <i class="ri-hotel-line"></i>
                <span>includes hotel</span>
            </div>
            <div class="icon-container">
                <i class="ri-roadster-fill"></i>
                <span>includes Vehcile</span>
            </div>
            <div class="icon-container">
                <i class="ri-group-line"></i>
                <span>includes Guide</span>
            </div>
            <div class="button-jumbtron">
                <a href="Booking-now"><button class="">Booking Now</button></a>
            </div>
        </div>
    </section>
    <!-----------------------------------------end  Paket Traveling slide--------------------------------- -->
    <!----------------------------------------------CARD BOOKING---------------------------------------- -->


    <div class="sesction-destination">
        <div class="container">
            <span class="subheading-gallry">Let's go Start your traveling</span>
            <h2 class="heading-gallry">Choose & Booking Your <span>Travel Package</span></h2>
        </div>

        <div class="container grid grid--3-cols">
            <div class="destination">
                <img src="../img/Destination/gitgit-twi.jpg" class="desti-img" alt="gambar" />
                <div class="desti-content">
                    <div class="desti-tags">
                        <span>Nature</span>
                    </div>
                    <p class="desti-title"> The natural of the island Bali</p>
                    <ul class="desti-attributes">
                        <li class="desti-attribute">
                            <i class="ri-money-dollar-circle-line"></i>
                            <span><strong>510.00</strong>USD</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-hotel-line"></i>
                            <span><strong>Hotel</strong>includes hotel</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-roadster-fill"></i>
                            <span><strong>Vehicle</strong> includes Vehicle</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-group-line"></i>
                            <span><strong>Guide</strong>includes Guide</span>
                        </li>
                    </ul>
                    <button class="destination-button-1"><a href="Nature-bali">Learn More</a></button>
                    <button class="destination-button"><a href="Booking-hotel">Booking Now</a></button>
                </div>
            </div>

            <div class="destination">
                <img src="../img/Destination/Tirtha_empul.jpg" class="desti-img" alt="gambar" />
                <div class="desti-content">
                    <div class="desti-tags">
                        <span>Culture</span>
                    </div>
                    <p class="desti-title">The culture of the island Bali</p>
                    <ul class="desti-attributes">
                        <li class="desti-attribute">
                            <i class="ri-money-dollar-circle-line"></i>
                            <span><strong>610.00</strong>USD</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-hotel-line"></i>
                            <span><strong>Hotel</strong>includes hotel</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-roadster-fill"></i>
                            <span><strong>Vehicle</strong> includes Vehicle</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-group-line"></i>
                            <span><strong>Guide</strong> includes Guide</span>
                        </li>
                    </ul>
                    <button class="destination-button-1"><a href="Culture">Learn More</a></button>
                    <button class="destination-button"><a href="Booking-hotel">Booking Now</a></button>
                </div>
            </div>

            <div class="destination">
                <img src="../img/Destination/Pantai.jpg" class="desti-img" alt="gambar" />
                <div class="desti-content">
                    <div class="desti-tags">
                        <span>Beach</span>
                    </div>
                    <p class="desti-title">The Beach of the island Bali</p>
                    <ul class="desti-attributes">
                        <li class="desti-attribute">
                            <i class="ri-money-dollar-circle-line"></i>
                            <span><strong>470.00</strong>USD</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-hotel-line"></i>
                            <span><strong>Hotel</strong>includes hotel</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-roadster-fill"></i>
                            <span><strong>Vehicle</strong> includes Vehicle</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-group-line"></i>
                            <span><strong>Guide</strong> includes Guide</span>
                        </li>
                    </ul>
                    <button class="destination-button-1"><a href="Beach-bali"> Learn More</a></button>
                    <button class="destination-button"><a href="Booking-hotel">Booking Now</a></button>
                </div>
            </div>
        </div>
        <footer id="contak">
            <div class="footer-content">
                <h3>Traveling Kuy</h3>
                <h3>Culture|Nature|Beach</h3>
                <p>We are a dedicated travel team, committed to providing you with the best holiday experience. </p>
                <ul class="social-icons">
                  <i class="ri-instagram-line"></i>
                  <i class="ri-facebook-circle-line"></i>
                  <i class="ri-whatsapp-line"></i>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>copyright &copy;2023 Group-4</p>
            </div>
        </footer>
</body>


</html>