<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beach Jawa</title>

    <link rel="stylesheet" href="../css/Jawa-Destination.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alkalami&family=Caveat&family=Dancing+Script&family=Domine:wght@400;500&family=DynaPuff&family=Great+Vibes&family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,500;1,100&family=Roboto:wght@100&family=Sansita+Swashed:wght@300;400;500&family=Smooch&family=Smooch+Sans:wght@100&family=Viga&display=swap"
        rel="stylesheet">
    <!-- --------------------------------------------------------------------------------------------- -->
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <!-- ------------------------------------------------------------- -->
</head>
<body>
    <header class="header-beach">
        <div class="button-back">
<<<<<<< HEAD
            <button><a href="jawa-Destination.html">Back Home</a></button>
=======
            <button><a href="jawa-Destination">Back Home</a></button>
>>>>>>> 525e78f35dc6624f9a3b6fcd2654ed972d5f73e9

        </div>
        <div class="label-head">
            <h3>Beach</h3>
            <p>Enjoy the beach beauty of the of Jawa</p>
        </div>
    </header>


    
    <section class="Destination-gallry-jawa">
        <div class="container-gallry-jawa">
            <div class="card-gallry-jawa">
                <div class="img">
                    <img src="../img/Paket-desti-jawa/Pantai Teluk Asmara.jpg" alt="Pantai kidul">
                </div>
                <div class="content">
                    <h2>Teluk Asmara Beach</h2>
                    <p>Teluk Asmara Beach, is a hidden paradise on the south coast of Malang, East Java. Soft white sand meets calm waves, creating a calming and romantic atmosphere</p>
                    <button class="button-card-desti-jawa"><a href="https://www.idntimes.com/travel/destination/rena-murti/wisata-pantai-teluk-asmara-malang-c1c2" target="_blank">Read More</a></button>
                </div>
            </div>
     
            <div class="card-gallry-jawa">
                <div class="img">
                    <img src="../img/Paket-desti-jawa/pantai siung.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Siung Beach</h2>
                    <p>Siung Beach, located in Purwodadi Village, Tepus District, Gunung Kidul Regency, Yogyakarta, is a beach destination that offers unique nature and an enchanting atmosphere.</p>
                    <button class="button-card-desti-jawa"><a href="https://en.wikipedia.org/wiki/Siung_Beach" target="_blank">Read More</a></button>
                </div>
            </div>
    
            <div class="card-gallry-jawa">
                <div class="img">
                    <img src="../img/Paket-desti-jawa/Pulau Timang.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Timang Island </h2>
                    <p>Timang Island is a charming tourist destination located in Gunungkidul, Yogyakarta, Indonesia. The island is popular because of the suspension bridge that connects it to the mainland</p>
                    <button class="button-card-desti-jawa"><a href="https://en.wikipedia.org/wiki/Timang_Beach" target="_blank">Read More</a></button>
                </div>
            </div>
        </div>
    </section>

    <footer id="contak">
        <div class="footer-content">
            <h3>Traveling Kuy</h3>
            <h3>Culture|Nature|Beach</h3>
            <p>We are a dedicated travel team, committed to providing you with the best holiday experience. </p>
            <ul class="social-icons">
              <i class="ri-instagram-line"></i>
              <i class="ri-facebook-circle-line"></i>
              <i class="ri-whatsapp-line"></i>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2023 Group-4</p>
        </div>
    </footer>

</body>
</html>