<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beach Lombok</title>

    <link rel="stylesheet" href="../css/lombok-destination.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alkalami&family=Caveat&family=Dancing+Script&family=Domine:wght@400;500&family=DynaPuff&family=Great+Vibes&family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,500;1,100&family=Roboto:wght@100&family=Sansita+Swashed:wght@300;400;500&family=Smooch&family=Smooch+Sans:wght@100&family=Viga&display=swap"
        rel="stylesheet">
    <!-- --------------------------------------------------------------------------------------------- -->


    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <!-- ------------------------------------------------------------- -->
</head>
<body>
    <header class="header-beach">
        <div class="button-back">
            <button><a href="Lombok-destination">Back Home</a></button>

        </div>
        <div class="label-head">
            <h3>Beach</h3>
            <p> Enjoy the beach of the island of Lombok</p>
        </div>
    </header>


    <div class="sesction-destination">
        <div class="container-nature">
            <span class="subheading-nature">Let's go Start your traveling</span>
            <h2 class="heading-nature">Destinations on the Beach <span>traveling package</span></h2>
        </div>
    </div>

    <section class="Gallray-destination">
        <div class="Gallry-img">
            <img src="../img/Paket-desti-lombok/Pink Beach, Beach East Lombok.jpg" alt="Pink Beach">
            <div class="button-desti">Pink Beach</div>

        </div>
        <div class="Gallry-img">
            <img src="../img/Paket-desti-lombok/Gili Trawangan, Beach North Lombok.jpg" alt="">
            <div class="button-desti">Gili Trawangan</div>

        </div>
        <div class="Gallry-img">
            <img src="../img/Paket-desti-lombok/Padar Beach.jpg" alt="">
            <div class="button-desti">Padar Beach</div>

        </div>
    </section>


    <footer class="footer">
        <p>copyright &copy;2023 Group-4 Section Surabaya</p>
        <div class="social-icons">
            <i class="ri-instagram-line"></i>
            <i class="ri-facebook-circle-line"></i>
            <i class="ri-whatsapp-line"></i>
        </div>
    </footer>
</body>
</html>