<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beach Lombok</title>

    <link rel="stylesheet" href="../css/lombok-destination.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alkalami&family=Caveat&family=Dancing+Script&family=Domine:wght@400;500&family=DynaPuff&family=Great+Vibes&family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,500;1,100&family=Roboto:wght@100&family=Sansita+Swashed:wght@300;400;500&family=Smooch&family=Smooch+Sans:wght@100&family=Viga&display=swap"
        rel="stylesheet">
    <!-- --------------------------------------------------------------------------------------------- -->


    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <!-- ------------------------------------------------------------- -->
</head>
<body>
    <header class="header-beach">
        <div class="button-back">
            <button><a href="Lombok-destination.html">Back Home</a></button>

        </div>
        <div class="label-head">
            <h3>Beach</h3>
            <p> Enjoy the beach of the island of Lombok</p>
        </div>
    </header>

    <section class="Destination-gallry-lombok">
        <div class="container-gallry-lombok">
            <div class="card-gallry-lombok">
                <div class="img">
                    <img src="../img/Paket-desti-lombok/Padar Beach.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Padar Beach</h2>
                    <p>Padar Island is one of the amazing destinations located in Komodo National Park, Indonesia. The island enchants visitors with its extraordinary natural beauty and spectacular views.</p>
                    <button class="button-card-desti-lombok"><a href="https://en.wikipedia.org/wiki/Padar,_Indonesia" target="_blank">Read More</a></button>
                </div>
            </div>
     
            <div class="card-gallry-lombok">
                <div class="img">
                    <img src="../img/Paket-desti-lombok/Pink Beach, Beach East Lombok.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Pink Beach</h2>
                    <p>
                        Pink Beach, located on the exotic island of Lombok, Indonesia, is a tropical paradise that captivates with its extraordinary natural beauty. 
                    </p>
                    <button class="button-card-desti-lombok"><a href="https://id.wikipedia.org/wiki/Pantai_Tangsi" target="_blank">Read More</a></button>
                </div>
            </div>
    
            <div class="card-gallry-lombok">
                <div class="img">
                    <img src="../img/Paket-desti-lombok/Gili Trawangan, Beach North Lombok.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Gili Trawangan</h2>
                    <p>Gili Trawangan is one of three small islands that make up the Gili Islands in Lombok, Indonesia. This island is known as an attractive tourist destination with its fine white sand, clear sea water and stunning underwater life.</p>
                    <button class="button-card-desti-lombok"><a href="https://id.wikipedia.org/wiki/Gili_Trawangan" target="_blank">Read More</a></button>
                </div>
            </div>
        </div>
    </section>

    <footer id="contak">
        <div class="footer-content">
            <h3>Traveling Kuy</h3>
            <h3>Culture|Nature|Beach</h3>
            <p>We are a dedicated travel team, committed to providing you with the best holiday experience. </p>
            <ul class="social-icons">
              <i class="ri-instagram-line"></i>
              <i class="ri-facebook-circle-line"></i>
              <i class="ri-whatsapp-line"></i>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2023 Group-4</p>
        </div>
    </footer>
</body>
</html>