<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Hotel</title>
</head>

<body>
    <link rel="stylesheet" href="../css/booking-hotel.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- 2 -->
    <!-- ------------------------------------------------------- -->

    <!-- link box icon -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- -------------------------------------------------------------- -->

    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <!-- ------------------------------------------------------------- -->
</body>
<header class="header">
    <div class="button-back">
<<<<<<< HEAD
        <button><a href="index"> Back Home </a></button>
=======
        <button><a href="/"> Back Home </a></button>
>>>>>>> 525e78f35dc6624f9a3b6fcd2654ed972d5f73e9
    </div>
    <div class="label-head">
        <h3>Booking Hotel</h3>
        <p>Booking according to your chooce</p>
    </div>
</header>


<section id="blog">
    <div class="blog-heading">
<<<<<<< HEAD
        <h3>CHOOSE HOTEL</h3>
=======
        <h3>CHOSE HOTEL</h3>
>>>>>>> 525e78f35dc6624f9a3b6fcd2654ed972d5f73e9
    </div>

    <div class="blog-container">
        <div class="blog-box">
            <div class="blog-img">
                <img src="../img/Booking-Hotel/Hotel-About.jpg" alt="">
            </div>

            <div class="blog-text">
                <span>Hotel Serenity Palace</span>
                <p class="blog-title">Quiet Place in the Middle of the City</p>
                <p class="deskrip">Hotel Serenity Palace is an oasis of luxury in the city center, offering tranquility and comfort amidst.</p>
                <a href="Booking-now"><button class="button-blog">Booking Now</button></a>
            </div>     
        </div>

        <div class="blog-box">
            <div class="blog-img">
                <img src="../img/Booking-Hotel/Hotel-1.jpg" alt="">
            </div>

            <div class="blog-text">
                <span>Vibrant Horizon Resort</span>
                <p class="blog-title">Unlimited Exploration, Endless Rest</p>
                <p class="deskrip">Vibrant Horizon Resort is the ideal destination for adventurers looking for endless fun and endless relaxation. With amazing views</p>
<<<<<<< HEAD
                <a href="../Html/Booking-now.html"><button class="button-blog">Booking Now</button></a>
=======
                <a href="Booking-now"><button class="button-blog">Booking Now</button></a>
>>>>>>> 525e78f35dc6624f9a3b6fcd2654ed972d5f73e9
              
            </div>     
        </div>

        <div class="blog-box">
            <div class="blog-img">
                <img src="../img/Booking-Hotel/hotel-2.jpg" alt="">
            </div>
<<<<<<< HEAD
 
=======

>>>>>>> 525e78f35dc6624f9a3b6fcd2654ed972d5f73e9
            <div class="blog-text">
                <span>Urban Oasis Hotel</span>
                <p class="blog-title">Modern Luxury in the Heart of the City</p>
                <p class="deskrip">Urban Oasis Hotel combines modern luxury with urban comfort in the heart of the business district</p>
<<<<<<< HEAD
                <button class="button-blog">Booking Now</button>
=======
                <a href="Booking-now"><button class="button-blog">Booking Now</button></a>
>>>>>>> 525e78f35dc6624f9a3b6fcd2654ed972d5f73e9
            </div>     
        </div>
    </div>
</section>


<footer id="contak">
    <div class="footer-content">
        <h3>Traveling Kuy</h3>
        <h3>Culture|Nature|Beach</h3>
        <p>We are a dedicated travel team, committed to providing you with the best holiday experience. </p>
        <ul class="social-icons">
          <i class="ri-instagram-line"></i>
          <i class="ri-facebook-circle-line"></i>
          <i class="ri-whatsapp-line"></i>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2023 Group-4</p>
    </div>
</footer>

</html>