<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Now</title>
</head>

<body>
    <link rel="stylesheet" href="../css/booking-now.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- 2 -->
    <!-- ------------------------------------------------------------------------------------------- -->
    <!-- 3 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <!-- ------------------------------------------------------- -->

    <!-- link box icon -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- -------------------------------------------------------------- -->

    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <!-- ------------------------------------------------------------- -->
</body>
<header class="header">
    <div class="button-back">
        <button><a href="index"> Back Home </a></button>
    </div>
    <div class="label-head">
        <h3>Booking Hotel</h3>
        <p>Booking according to your choice</p>
    </div>
</header>
<section class="nav">
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" href="#">Summary & Maps</a></li>
            <li><a class="main-nav-link" href="#">Book Now</a></li>
        </ul>
    </nav>
</section>
<div class="judul-hotel">
</div>
<div class="container">
    <div class="image">
        <img src="../img/Booking-Hotel/Hotel-About.jpg" alt="">
    </div>

    <div class="about">
        <div class="about-detail">
            <h3 class="Title-about">THE CHOICE OF FAMILIES</h3>
            <h4 class="sub-title">King bed stylish Apartment with luxury style room</h4>
            <div class="rating">
                <i class="ri-star-s-fill"></i>
                <i class="ri-star-s-fill"></i>
                <i class="ri-star-s-fill"></i>
                <i class="ri-star-s-fill"></i>
                <i class="ri-star-half-s-fill"></i>
                <span>4.9</span>
                <p>202 REVIEWS</p>
            </div>
            <div class="service">
                <ul>
                    <li>BEDS</li>
                    <li>AREA </li>
                    <li>GUEST</li>
                    <li>BATHROOM</li>
                    <li>HOT WATER</li>
                    <li>BALCON AREA</li>
                    <li>WIFI</li>
                </ul>
            </div>
        </div>
        <section class="form-personal">
            <p class="Leading">Enter Your Personal Details </p>
            <form class="cta-form" action="#">
                <div>
                    <label for="full-name">First Name</label>
                    <input id="full-name" type="text" placeholder="John Smith" required />
                </div>

                <div>
                    <label for="email">Phone Number</label>
                    <input id="email" type="email" placeholder="me@example.com" required />
                </div>

                <div>
                    <label for="email">Last Name</label>
                    <input id="email" type="email" placeholder="me@example.com" required />
                </div>

                <div>
                    <label for="email">Email address</label>
                    <input id="email" type="email" placeholder="me@example.com" required />
                </div>

            </form>
            <div class="booking-room">
                <ul>
                    <li>
                        <input type="checkbox" id="item1">
                        <label for="item1">Booking Room Dates</label>
                        <span>Set days for your booking room</span>

                    </li>
                </ul>
            </div>
        </section>
        <br>
        <section class="date-book">
            <p class="title-paket">FROM</p>
            <div class="paket">
                <div class="paket-date">
                    <h4>Saturday 10 Oktober 2023 08:00 AM</h4>
                </div>
                <div class="paket-date">
                    <h4>Saturday 10 Oktober 2023 13:00 PM</h4>
                </div>
            </div>
        </section>

        <section class="transpot">
            <div class="booking-trans">
                <ul>
                    <li>
                        <input type="checkbox" id="item1">
                        <label for="item1">Transport</label>
                        <span>Choose your vehicle</span>
                    </li>
                </ul>
                <p>VEHICLE TYPE</p>
            </div>

            <div class="card-vehicle">
                <div class="card">
                    <label>
                        <input type="radio" name="vehicle" value="Transport">
                        <i class="ri-roadster-line"></i>

                    </label>
                    <div class="deskrip">
                        <h4>Car</h4>
                        <p>$3.96/Night</p>
                    </div>
                </div>
                <div class="card">
                    <label>
                        <input type="radio" name="vehicle" value="Transport">
                        <i class="ri-roadster-line"></i>

                    </label>
                    <div class="deskrip">
                        <h4>Car</h4>
                        <p>$3.96/Night</p>
                    </div>
                </div>
                <div class="card">
                    <label>
                        <input type="radio" name="vehicle" value="Transport">
                        <i class="ri-roadster-line"></i>

                    </label>
                    <div class="deskrip">
                        <h4>Car</h4>
                        <p>$3.96/Night</p>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <section class="date-book">
            <p class="title-paket">FROM</p>
            <div class="paket">
                <div class="paket-date">
                    <h4>Saturday 10 Oktober 2023 08:00 AM</h4>
                </div>
                <div class="paket-date">
                    <h4>Saturday 10 Oktober 2023 13:00 PM</h4>
                </div>
            </div>
            <div class="button-booking">
                <button><a href="invoice"> Request To Book </a></button>
            </div>
        </section>
    </div>
</div>
<!-- </div> -->
<footer class="footer">
    <p>copyright &copy;2023 Group-4 Section Surabaya</p>
    <div class="social-icons">
        <i class="ri-instagram-line"></i>
        <i class="ri-facebook-circle-line"></i>
        <i class="ri-whatsapp-line"></i>
    </div>
</footer>

</html>