<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <link rel="stylesheet" href="../css/booking-hotel.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- 2 -->
    <!-- ------------------------------------------------------------------------------------------- -->
    <!-- 3 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <!-- ------------------------------------------------------- -->

    <!-- link box icon -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- -------------------------------------------------------------- -->

    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <!-- ------------------------------------------------------------- -->
</body>
<header class="header">
    <div class="button-back">
        <button><a href="index"> Back Home </a></button>

    </div>
    <div class="label-head">
        <h3>Booking Hotel</h3>
        <p>Booking according to your choice</p>
    </div>
</header>
<nav class="main-nav">
    <ul class="main-nav-list">
        <li><a class="main-nav-link" href="#">Summary & Maps</a></li>
        <li><a class="main-nav-link" href="Booking-now">Book Now</a></li>
    </ul>
</nav>
 
<div class="judul-hotel">
    <h3>HOTEL PONDOK INDAH</h3>
</div>
<div class="container">
    <div class="image">
        <img src="../img/Booking-Hotel/Hotel-About.jpg" alt="">
    </div>
 
    <div class="about">
        <div class="about-detail">
            <h3 class="Title-about">THE CHOICE OF FAMILIES</span></h3>
            <h4 class="sub-title">King bed stylish apartment with luxury style room</h4>
            <div class="content">
                <p>Welcome to Hotel Pondok Indah, a place where comfort meets luxury, and exceptional service is a must.
                    We
                    pride ourselves on being the premier destination for those seeking an unforgettable stay>Hotel
                    Pondok
                    Indah offers more than just a place to stay, we provide a welcoming atmosphere, modern
                    facilities, and warm hospitality to ensure every guest feels at home. With our strategic location
                    near
                    pandawa beach bali, we are the ideal choice for both business and leisure travellers..</p>
                <br><br><br>
            </div>
        </div>
        <div class="content-2">
            <h3 class="Title-content">What makes Hotel Pondok Indah so special?</span></h3>
            <ol>
                <li> Our beautiful and comfortable rooms</li>
                <li> mouth-watering restaurants, and various facilities such as swimming pool, fitness centre, spa,
                    mall.</li>
                <li> We are committed to providing an exceptional stay, pampering every guest with uncompromising
                    quality. </li>
                <li> Ideal venue to hold special events such as weddings, conferences, or business meetings.</li>
            </ol>

            <h3 class="Title-2">Rules and what to do</span></h3>
            <p>Check-In and Check-Out Times:</p>
            <ol>
                <li>Adhere to the designated check-in and check-out times to avoid inconvenience.</li>
                <li>Notify the hotel in advance if you need to make special arrangements.</li>
                <li>Settlement of Bills: Settle any outstanding bills promptly during check-out. </li>
                <li>Return of Keys/Access Cards: Return room keys or access cards as instructed during check-out.</li>
            </ol>
            <br>
            <div class="rules">
                <p>Identification and Registration:</p>
                <ol>
                    <li>Provide valid identification and complete the registration process upon check-in.</li>
                </ol>
                <br>
                <p>Noise Levels:</p>
                <ol>
                    <li>Be considerate of other guests by keeping noise levels down, especially during late hours.
                    </li>
                </ol>
                <br>
                <p>Smoking Policy:</p>
                <ol>
                    <li>Observe the hotel's smoking policy. Many hotels are smoke-free, and smoking may be restricted to
                        designated areas.</li>
                </ol>
                <br>
                <p>Pets:</p>
                <ol>
                    <li>Follow the hotel's policy regarding pets. Some hotels allow pets, while others do not.</li>
                </ol>
                <br>
                <p>Security:</p>
                
                <ol>
                    <li>Keep your room locked when you're not inside, and use the hotel's safe deposit box for
                        valuables.</li>
                </ol>
            </div>
            <div class="closing">
                <h4>We invite you to experience the beauty and comfort of Hotel Pondok Indah. </h4>
                <h4>Make your every moment with us a lasting memory.</h4>
                <h4>Welcome to your home away-from-home!</h4>
            </div>

            <div class="maps">
                <h4>Maps location Hotel</h4>
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3945.700309365862!2d115.24541851411718!3d-8.528448588760808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd23d972fdf9025%3A0x8e47c64cbd794b90!2sDIKA%20UDENG%20BALI!5e0!3m2!1sid!2sid!4v1657178569766!5m2!1sid!2sid"></iframe>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <p>copyright &copy;2023 Group-4 Section Surabaya</p>
    <div class="social-icons">
        <i class="ri-instagram-line"></i>
        <i class="ri-facebook-circle-line"></i>
        <i class="ri-whatsapp-line"></i>
    </div>
</footer>
</html>