<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Home</title>
    <link rel="stylesheet" href="../css/Booking.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- 2 -->
    <!-- ------------------------------------------------------------------------------------------- -->
    <!-- 3 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <!-- ------------------------------------------------------- -->

    <!-- link box icon -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- -------------------------------------------------------------- -->

    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <!-- ------------------------------------------------------------- -->
</head>

<body>
    <header class="header">
        <div class="button-back">
            <button><a href="index.html"> Back Home </a></button>

        </div>
        <div class="label-head">
            <h3>Booking Time</h3>
            <p>Booking according to your choice</p>
        </div>
    </header>

    <!----------------------------------------------CARD BOOKING---------------------------------------- -->
    <div class="sesction-destination">
        <div class="container">
            <span class="subheading">Booking Package Traveling </span>
            <h2 class="heading-secondary">Order a traveling package including hotel transportation
                and <span>traveling guide</span></h2>
        </div>
        <div class="container-search">
            <form action="#" method="get">
                <label for="search"></label>
                <input type="text" id="search" name="q"  placeholder="Search Package Traveling ?" required>
                <button type="submit" class="button-search" >Search</button>
            </form>
        </div>


        <div class="container grid grid--3-cols">

            <div class="destination">
                <img src="../img/Destination/gitgit-twi.jpg" class="desti-img" alt="gambar" />
                <div class="desti-content">
                    <div class="desti-tags">
                        <span>Bali</span>
                    </div>
                    <p class="desti-title"><span>Culture </span> Traveling Package</p>
                    <ul class="desti-attributes">
                        <li class="desti-attribute">
                            <i class="ri-hotel-line"></i>
                            <span><strong>Hotel</strong>includes hotel</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-roadster-fill"></i>
                            <span><strong>Vehicle</strong>includes Vehicle</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-group-line"></i>
                            <span><strong>Guide</strong>includes Guide</span>
                        </li>
                    </ul>
                    <button class="button-card"><a href="Booking-hotel.html">Chekout</a></button>
                </div>
            </div>

            <div class="destination">
                <img src="../img/Destination/Tirtha_empul.jpg" class="desti-img" alt="gambar" />
                <div class="desti-content">
                    <div class="desti-tags">
                        <span>Bali</span>
                    </div>
                    <p class="desti-title"> <span>Nature</span> Traveling Package</p>
                    <ul class="desti-attributes">
                        <li class="desti-attribute">
                            <i class="ri-hotel-line"></i>
                            <span><strong>Hotel</strong>includes hotel</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-roadster-fill"></i>
                            <span><strong>Vehicle</strong> includes Vehicle</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-group-line"></i>
                            <span><strong>Guide</strong> includes Guide</span>
                        </li>
                    </ul>
                    <button class="button-card">Chekout</button>
                </div>
            </div>

            <div class="destination">
                <img src="../img/Destination/Pantai.jpg" class="desti-img" alt="gambar" />
                <div class="desti-content">
                    <div class="desti-tags">
                        <span>Beach</span>
                    </div>
                    <p class="desti-title"><span>Beach</span> Traveling Package</p>
                    <ul class="desti-attributes">
                        <li class="desti-attribute">
                            <i class="ri-hotel-line"></i>
                            <span><strong>Hotel</strong>includes hotel</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-roadster-fill"></i>
                            <span><strong>Vehicle</strong> includes Vehicle</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-group-line"></i>
                            <span><strong>Guide</strong> includes Guide</span>
                        </li>
                    </ul>
                    <button class="button-card">Chekout</button>
                </div>
            </div>
<!-- -----------------------------------------------End Bali--------------------------------------------------------------------------------------- -->
            
            <div class="destination">
                <img src="../img/Paket-desti-lombok/Senggigi, Culture West Lombok.jpg" class="desti-img" alt="gambar" />
                <div class="desti-content">
                    <div class="desti-tags">
                        <span>Lombok</span>
                    </div>
                    <p class="desti-title"><span>Culture</span> Traveling Package</p>
                    <ul class="desti-attributes">
                        <li class="desti-attribute">
                            <i class="ri-hotel-line"></i>
                            <span><strong>Hotel</strong>includes hotel</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-roadster-fill"></i>
                            <span><strong>Vehicle</strong> includes Vehicle</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-group-line"></i>
                            <span><strong>Guide</strong> includes Guide</span>
                        </li>
                    </ul>
                    <button class="button-card">Chekout</button>
                </div>
            </div>

            
            <div class="destination">
                <img src="../img/Paket-desti-lombok/Sembalun, Nature East Lombok.jpg" class="desti-img" alt="gambar" />
                <div class="desti-content">
                    <div class="desti-tags">
                        <span>Lombok</span>
                    </div>
                    <p class="desti-title"><span>Nature</span> Traveling Package</p>
                    <ul class="desti-attributes">
                        <li class="desti-attribute">
                            <i class="ri-hotel-line"></i>
                            <span><strong>Hotel</strong>includes hotel</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-roadster-fill"></i>
                            <span><strong>Vehicle</strong> includes Vehicle</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-group-line"></i>
                            <span><strong>Guide</strong> includes Guide</span>
                        </li>
                    </ul>
                    <button class="button-card">Chekout</button>
                </div>
            </div>

            
            <div class="destination">
                <img src="../img/Paket-desti-lombok/Gili Trawangan, Beach North Lombok.jpg" class="desti-img" alt="gambar" />
                <div class="desti-content">
                    <div class="desti-tags">
                        <span>Lombok</span>
                    </div>
                    <p class="desti-title">Beach Traveling Package</p>
                    <ul class="desti-attributes">
                        <li class="desti-attribute">
                            <i class="ri-hotel-line"></i>
                            <span><strong>Hotel</strong>includes hotel</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-roadster-fill"></i>
                            <span><strong>Vehicle</strong> includes Vehicle</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-group-line"></i>
                            <span><strong>Guide</strong> includes Guide</span>
                        </li>
                    </ul>
                    <button class="button-card">Chekout</button>
                </div>
            </div>



<!-- ----------------------------end lombok----------------------------------------------------------------------------------------------- -->


            
            <div class="destination">
                <img src="../img/Paket-desti-jawa/Sindawangi, Nature Majalengka West Jawa.jpg" class="desti-img" alt="gambar" />
                <div class="desti-content">
                    <div class="desti-tags">
                        <span>Jawa</span>
                    </div>
                    <p class="desti-title"><span>Nature</span> Traveling Package</p>
                    <ul class="desti-attributes">
                        <li class="desti-attribute">
                            <i class="ri-hotel-line"></i>
                            <span><strong>Hotel</strong>includes hotel</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-roadster-fill"></i>
                            <span><strong>Vehicle</strong> includes Vehicle</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-group-line"></i>
                            <span><strong>Guide</strong> includes Guide</span>
                        </li>
                    </ul>
                    <button class="button-card">Chekout</button>
                </div>
            </div>

            
            <div class="destination">
                <img src="../img/Paket-desti-jawa/Prambanan1.jpg" class="desti-img" alt="gambar" />
                <div class="desti-content">
                    <div class="desti-tags">
                        <span>Jawa</span>
                    </div>
                    <p class="desti-title"><span>Culture</span> Traveling Package</p>
                    <ul class="desti-attributes">
                        <li class="desti-attribute">
                            <i class="ri-hotel-line"></i>
                            <span><strong>Hotel</strong>includes hotel</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-roadster-fill"></i>
                            <span><strong>Vehicle</strong> includes Vehicle</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-group-line"></i>
                            <span><strong>Guide</strong> includes Guide</span>
                        </li>
                    </ul>
                    <button class="button-card">Chekout</button>
                </div>
            </div>

            
            <div class="destination">
                <img src="../img/Paket-desti-jawa/Batu Bengkung Island, Beach Malang East Jawa.jpg" class="desti-img" alt="gambar" />
                <div class="desti-content">
                    <div class="desti-tags">
                        <span>Jawa</span>
                    </div>
                    <p class="desti-title"> <span>Beach</span> Traveling Package</p>
                    <ul class="desti-attributes">
                        <li class="desti-attribute">
                            <i class="ri-hotel-line"></i>
                            <span><strong>Hotel</strong>includes hotel</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-roadster-fill"></i>
                            <span><strong>Vehicle</strong> includes Vehicle</span>
                        </li>
                        <li class="desti-attribute">
                            <i class="ri-group-line"></i>
                            <span><strong>Guide</strong> includes Guide</span>
                        </li>
                    </ul>
                    <button class="button-card">Chekout</button>
                </div>
            </div>
        </div>
        <footer class="footer">
            <p>copyright &copy;2023 Group-4 Section Surabaya</p>
            <div class="social-icons">
                <i class="ri-instagram-line"></i>
                <i class="ri-facebook-circle-line"></i>
                <i class="ri-whatsapp-line"></i>
            </div>
        </footer>
</body>


</html>