<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking-Now</title>
    <link rel="stylesheet" href="../css/booking-now.css">
    <script src="../js/Booking.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/query.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Alkalami&family=Caveat&family=Dancing+Script&family=Domine:wght@400;500&family=DynaPuff&family=Great+Vibes&family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,500;1,100&family=Roboto:wght@100&family=Sansita+Swashed:wght@300;400;500&family=Smooch&family=Smooch+Sans:wght@100&family=Viga&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="button-back">
            <button><a href="Bali-destination"> Back Home </a></button>
        </div>
        <div class="label-head">
            <h3>Booking Now</h3>
            <p>Booking Now to your choice</p>
        </div>
    </header>

    <section class="form-input-book">
        <div class="container">
            <header>Booking Form</header>
            <form action="#" class="form" onsubmit="printInvoice(); return false;">
                <div class="input-box">
                    <label>Full Name</label>
                    <input type="text" name="fullName" placeholder="Enter full name" required />
                </div>
                <div class="input-box">
                    <label>Email Address</label>
                    <input type="text" name="emailAddress" placeholder="Enter email address" required />
                </div>
                <div class="column">
                    <div class="input-box">
                        <label>Phone Number</label>
                        <input type="number" name="phoneNumber" placeholder="Enter phone number" required />
                    </div>
                </div>
                <div class="input-box address">
                    <label>Booking Details</label>
                    <input type="text" id="hotelName" name="hotelName" readonly />
                    <input type="text" type="text" id="hotelAddress" name="hotelAddress" readonly />
                    <input type="text" id="guideName" name="guideName" readonly />
                    <input type="text" id="guidePrice" name="guidePrice" readonly />
                    <div class="column">
                        <input type="text" id="vehicleName" name="vehicleName" readonly />
                        <input type="text" id="policeNumber" name="policeNumber" readonly />
                    </div>
                </div>
                <div class="input-box">
                    <label>Destination Price</label>
                    <input type="text" id="destinationPrice" name="destinationPrice" readonly />
                </div>
                <div class="form-submit-btn">
                    <a href="invoice"><button type="button">Request To Book</button></a>
                </div>
            </form>
        </div>
    </section> 

    <footer id="contak">
        <div class="footer-content">
            <h3>Traveling Kuy</h3>
            <h3>Culture|Nature|Beach</h3>
            <p>We are a dedicated travel team, committed to providing you with the best holiday experience. </p>
            <ul class="social-icons">
                <i class="ri-instagram-line"></i>
                <i class="ri-facebook-circle-line"></i>
                <i class="ri-whatsapp-line"></i>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2023 Group-4</p>
        </div>
    </footer>
    
    <script>
        
    </script>
   
</body>

</html>