<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Culture Jawa</title>

    <link rel="stylesheet" href="../css/Jawa-Destination.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alkalami&family=Caveat&family=Dancing+Script&family=Domine:wght@400;500&family=DynaPuff&family=Great+Vibes&family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,500;1,100&family=Roboto:wght@100&family=Sansita+Swashed:wght@300;400;500&family=Smooch&family=Smooch+Sans:wght@100&family=Viga&display=swap"
        rel="stylesheet">
    <!-- --------------------------------------------------------------------------------------------- -->
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <!-- ------------------------------------------------------------- -->
</head>
<body>
    <header class="header-Culture">
        <div class="button-back">
            <button><a href="Jawa-destination">Back Home</a></button>
        </div>
        <div class="label-head">
            <h3>Culture</h3>
            <p>Enjoy the Culture of the island of Jawa</p>
        </div>
    </header>


    <div class="sesction-destination">
        <div class="container-nature">
            <span class="subheading-nature">Let's go Start your traveling</span>
            <h2 class="heading-nature">Destinations on the culture <span>traveling package</span></h2>
        </div>
    </div>

    <section class="Gallray-destination">
        <div class="Gallry-img">
            <img src="../img/Paket-desti-jawa/Borobudur, Nature Magelang Central Jawa.jpg" alt="">
            <div class="button-desti">Candi Brobudur</div>
        </div>
        <div class="Gallry-img">
            <img src="../img/Paket-desti-jawa/Batik.jpg" alt="">
            <div class="button-desti">Batik</div>
        </div>
        <div class="Gallry-img">
            <img src="../img/Paket-desti-jawa/Prambanan.jpg" alt="">
            <div class="button-desti">Prambanan</div>
        </div>
    </section>
 

    <footer class="footer">
        <p>copyright &copy;2023 Group-4 Section Surabaya</p>
        <div class="social-icons">
            <i class="ri-instagram-line"></i>
            <i class="ri-facebook-circle-line"></i>
            <i class="ri-whatsapp-line"></i>
        </div>
    </footer>
</body>
</html>