<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Culture Bali</title>

    <link rel="stylesheet" href="../css/bali-destination.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alkalami&family=Caveat&family=Dancing+Script&family=Domine:wght@400;500&family=DynaPuff&family=Great+Vibes&family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,500;1,100&family=Roboto:wght@100&family=Sansita+Swashed:wght@300;400;500&family=Smooch&family=Smooch+Sans:wght@100&family=Viga&display=swap"
        rel="stylesheet">
    <!-- --------------------------------------------------------------------------------------------- -->
    <!-- 2 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- 2 -->

    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <!-- ------------------------------------------------------------- -->
</head>
<body>
    <header class="header-Culture">
        <div class="button-back">
            <button><a href="Bali-destination">Back Home</a></button>

        </div>
        <div class="label-head">
            <h3>Culture</h3>
            <p>Enjoy the culture beauty of the of Bali</p>
        </div>
</header> 

<section class="Destination-gallry-bali">
    <div class="container-gallry-bali">
        <div class="card-gallry-bali">
            <div class="img">
                <img src="../img/Destination/uluwatu.jpg" alt="">
            </div>
            <div class="content">
                <h2>Uluwatu Tample</h2>
                <p>Uluwatu is a famous coastal area at the southern tip of Bali, Indonesia, which offers natural beauty, culture and tradition. Famous for its high cliffs, Uluwatu is a popular destination for tourists looking for spectacular views and unique experiences.</p>
                <button class="button-card-desti-bali"><a href="https://en.wikipedia.org/wiki/Uluwatu,_Bali" target="_blank">Read More</a></button>
            </div>
        </div>
 
        <div class="card-gallry-bali">
            <div class="img">
                <img src="../img/Destination/Tirtha_empul.jpg" alt="">
            </div>
            <div class="content">
                <h2>Tirtha Empul</h2>
                <p>Tirta Empul is a holy water temple complex located in Tampak Siring village, Bali, Indonesia. This place is considered one of the most important sacred sites in Bali and has deep cultural significance for Hindus.</p>
                <button class="button-card-desti-bali"><a href="https://en.wikipedia.org/wiki/Tirta_Empul" target="_blank">Read More</a></button>
            </div>
        </div>

        <div class="card-gallry-bali">
            <div class="img">
                <img src="../img/Destination/Bali.jpg" alt="">
            </div>
            <div class="content">
                <h2>Tanah Lot</h2>
                <p>Tanah Lot is a tourism icon located on the southwest coast of Bali, Indonesia. Famous for its sea temple located on a large rock, Tanah Lot offers spectacular views, especially at sunset.</p>
                <button class="button-card-desti-bali"><a href="https://id.wikipedia.org/wiki/Tanah_Lot" target="_blank">Read More</a></button>
            </div>
        </div>
    </div>
</section>
<footer id="contak">
    <div class="footer-content">
        <h3>Traveling Kuy</h3>
        <h3>Culture|Nature|Beach</h3>
        <p>We are a dedicated travel team, committed to providing you with the best holiday experience. </p>
        <ul class="social-icons">
          <i class="ri-instagram-line"></i>
          <i class="ri-facebook-circle-line"></i>
          <i class="ri-whatsapp-line"></i>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2023 Group-4</p>
    </div>
</footer>
</body>
</html>