<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Culture Jawa</title>

    <link rel="stylesheet" href="../css/Jawa-Destination.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alkalami&family=Caveat&family=Dancing+Script&family=Domine:wght@400;500&family=DynaPuff&family=Great+Vibes&family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,500;1,100&family=Roboto:wght@100&family=Sansita+Swashed:wght@300;400;500&family=Smooch&family=Smooch+Sans:wght@100&family=Viga&display=swap"
        rel="stylesheet">
    <!-- --------------------------------------------------------------------------------------------- -->
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <!-- ------------------------------------------------------------- -->
</head>
<body>
    <header class="header-Culture">
        <div class="button-back">
            <button><a href="jawa-Destination">Back Home</a></button>

        </div>
        <div class="label-head">
            <h3>Culture</h3>
            <p>Enjoy the natural beauty of the of Jawa</p>
        </div>
    </header>


    
    <section class="Destination-gallry-jawa">
        <div class="container-gallry-jawa">
            <div class="card-gallry-jawa">
                <div class="img">
                    <img src="../img/Paket-desti-jawa/Prambanan.jpg" alt="kuta">
                </div>
                <div class="content">
                    <h2>Candi Paramabanan</h2>
                    <p>Prambanan is a Hindu temple complex located in Yogyakarta, Indonesia. Built in the 9th century, Prambanan amazes with its majestic architecture and relief sculptures depicting epic stories from Hindu mythology.</p>
                    <button class="button-card-desti-jawa"><a href=" https://en.wikipedia.org/wiki/Prambanan" target="_blank">Read More</a></button>
                </div>
            </div>
     
            <div class="card-gallry-jawa">
                <div class="img">
                    <img src="../img/Paket-desti-jawa/Batik.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Batik</h2>
                    <p>Batik is a unique and stunning traditional Indonesian art, where cloth is decorated with beautiful patterns using liquid wax techniques and natural dyes. </p>
                    <button class="button-card-desti-jawa"><a href="https://id.wikipedia.org/wiki/Batik" target="_blank">Read More</a></button>
                </div>
            </div>
    
            <div class="card-gallry-jawa">
                <div class="img">
                    <img src="../img/jateng.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Candi Brobudur</h2>
                    <p>Borobudur is a magnificent Buddhist temple located in Magelang, Central Java, Indonesia. Built in the 9th century, Borobudur is the largest cultural monument in Indonesia</p>
                    <button class="button-card-desti-jawa"><a href="https://id.wikipedia.org/wiki/Borobudur" target="_blank">Read More</a></button>
                </div>
            </div>
        </div>
    </section>

    <footer id="contak">
        <div class="footer-content">
            <h3>Traveling Kuy</h3>
            <h3>Culture|Nature|Beach</h3>
            <p>We are a dedicated travel team, committed to providing you with the best holiday experience. </p>
            <ul class="social-icons">
              <i class="ri-instagram-line"></i>
              <i class="ri-facebook-circle-line"></i>
              <i class="ri-whatsapp-line"></i>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2023 Group-4</p>
        </div>
    </footer>

</body>
</html>