<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Traveling Kuy</title>
  <link rel="stylesheet" href="../css/style.css">
  <script src="../js/nav.js"></script>
  <link rel="stylesheet" href="../css/query.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Alkalami&family=Caveat&family=Dancing+Script&family=Domine:wght@400;500&family=DynaPuff&family=Great+Vibes&family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,500;1,100&family=Roboto:wght@100&family=Sansita+Swashed:wght@300;400;500&family=Smooch&family=Smooch+Sans:wght@100&family=Viga&display=swap"
    rel="stylesheet">
  <!-- --------------------------------------------------------------------------------------------- -->
  <!-- 2 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

  <!-- link box icon -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <!-- -------------------------------------------------------------- -->

  <!-- Remix icons -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
  <!-- ------------------------------------------------------------- -->
  
</head>

<body>
  <!-- Strat Navbar -->
  <nav>
    <div class="logo"><a href="#">Traveling <span>Kuy</span></a></div>
    <ul class="link">
      <li><a href="#">Home</a></li>
      <li><a href="#about-landig-page">About Us</a></li>
      <li><a href="#destination">Destinations</a></li>
      <li><a href="#destination">Booking</a></li>
      <li><a href="#contak">Contact</a></li>
    </ul>
    <div class="main">
      <a href="login" class="user">Sign In</a>
      <a href="sign-up">Register</a>
      <div class="bx bx-menu" id="menu-icon"></div>
    </div>
  </nav>
  <section class="hero">
    <div class="hero-text">
      <h1>Make Your Tour Amazing With Us</h1>
      <p>Travel to any corner of the world without going in circles with Traveling Kuy</p>
    </div>
  </section>
  <!-- end Navbar -->


  <!-- Strat Search Engine -->
  <section class="section-info-panel">
    <div class="info-panel">
      <div class="destination-key">
        <label for="keterangan" class="ket-panel">Destination</label> <br>
<<<<<<< HEAD
        <input type="text" id="keterangan" name="keterangan" placeholder="Enter Keywords" class="option-type">
=======
        <input type="text" id="keterangan" name="keterangan" placeholder="Enter Keywords"
          class="option-type">
>>>>>>> 525e78f35dc6624f9a3b6fcd2654ed972d5f73e9
      </div>
      <div class="type-destination">
        <label class="ket-panel">Type</label> <br>
        <select id="dropdown" name="fruit">
          <option value="Culture" class="option-type">Culture</option>
          <option value="Nature" class="option-type">Nature</option>
          <option value="Beac" class="option-type">Beach</option>
        </select>
      </div>
      <div class="when-destination">
        <label for="tanggal" class="ket-panel">When</label> <br>
        <input type="date" id="tanggal" name="tanggal" class="option-type">
      </div>
      <form action="#">
        <label for="searchInput"></label> <br>
        <button type="submit" class="search-button" class="option-type">
          Search
        </button>
      </form>
    </div>
  </section>
  <!-- End Search engine  -->

  <!-- start about -->
  <section class="about" id="about-landig-page">
    <div class="content">
<<<<<<< HEAD
      <img src="../img/about.jpg" alt="">
      <div class="text">
        <h1>About Us</h1>
        <h5>Traveling Kuy</h5>
        <p> We are a dedicated travel team, committed to providing you with the best holiday experience. With
          our local knowledge travel tips and recommendations our travel website is a trusted source of
          information to make your trip unforgettable. Welcome to our adventurous world!
        </p>
        <button type="button" class="about-button">Learn More</button>
      </div>
    </div>
  </section>
  <!-- end about -->
=======
        <img src="../img/about.jpg" alt="">
        <div class="text">
            <h1>About Us</h1>
            <h5>Traveling Kuy</h5>
            <p> We are a dedicated travel team, committed to providing you with the best holiday experience. With
                our local knowledge travel tips and recommendations our travel website is a trusted source of
                information to make your trip unforgettable. Welcome to our adventurous world!
            </p>
            <a href="https://id.wikipedia.org/wiki/Bali"><button type="button" class="about-button">Learn more</button></a>
        </div>
    </div>
</section>
  <!-- end about -->

  <!-- strat chouse-us -->

  <section class="service">
    <div class="container">
      <div class="title">
        <h3>WHY CHOOSE US ?</h3>
      </div>
      <div class="features">
        <div class="feature">
          <div class="container-icon"><i class="ri-road-map-line"></i></div>
          <p class="feature-title">Diverse Destination</p>
        </div>
        <div class="feature">
          <div class="container-icon"><i class="ri-suitcase-3-line"></i></div>
          <p class="feature-title">Passionate Travel</p>
        </div>
        <div class="feature">
          <div class="container-icon"> <i class="ri-money-dollar-circle-line"></i></div>
          <p class="feature-title">Best Price Guaranteed</p>
        </div>
      </div>
    </div>

  </section>

  <!-- emd chouse-us -->
  <br>
>>>>>>> 525e78f35dc6624f9a3b6fcd2654ed972d5f73e9
  <!-- Popular destination -->
  <div class="sesction-destination" id="destination">
    <div class="container">
      <span class="subheading">POPULAR DESTINATION</span>
      <h2 class="heading-secondary">
        Explore Popular Destination on Traveling Kuy
      </h2>
    </div>
    <div class="container grid grid--3-cols">
      <div class="destination">
        <img src="../img/Bali.jpg" class="desti-img" alt="gambar" />
        <div class="desti-content">
          <div class="desti-tags">
            <span>Bali</span>
          </div>
          <p class="desti-title">Culture Traveling</p>
          <ul class="desti-attributes">
            <li class="desti-attribute">
              <i class="ri-group-line"></i>
              <span><strong>678/</strong>Month Traveler Visit</span>
            </li>
            <li class="desti-attribute">
              <i class="ri-bard-line"></i>
              <span><strong>4.8</strong> Rating (678)</span>
            </li>
            <li class="desti-attribute">
              <i class="ri-pin-distance-line"></i>
              <span><strong>70 ++</strong>Destination</span>
            </li>
          </ul>
          <div class="button-card"><a href="Bali-destination">Learn more</a></div>
        </div>
      </div>

      <div class="destination">
        <img src="..//img/Lombok.jpg" class="desti-img" alt="gambar" />
        <div class="desti-content">
          <div class="desti-tags">
            <span>Lombok</span>
          </div>
          <p class="desti-title">Nature Traveling</p>
          <ul class="desti-attributes">
            <li class="desti-attribute">
              <i class="ri-group-line"></i>
              <span><strong>578/</strong>Month Traveler Visit</span>
            </li>
            <li class="desti-attribute">
              <i class="ri-bard-line"></i>
              <span><strong>4.7</strong> Rating (578)</span>
            </li>
            <li class="desti-attribute">
              <i class="ri-pin-distance-line"></i>
              <span><strong>60 ++</strong>Destination</span>
            </li>
          </ul>
          <div class="button-card"><a href="Lombok-destination.html">Learn more</a></div>
        </div>
      </div>

      <div class="destination">
        <img src="..//img/jateng.jpg" class="desti-img" alt="gambar" />
        <div class="desti-content">
          <div class="desti-tags">
            <span>Jawa</span>
          </div>
          <p class="desti-title">culture Traveling</p>
          <ul class="desti-attributes">
            <li class="desti-attribute">
              <i class="ri-group-line"></i>
              <span><strong>478/</strong>Month Traveler Visit</span>
            </li>
            <li class="desti-attribute">
              <i class="ri-bard-line"></i>
              <span><strong>4.8</strong> Rating (478)</span>
            </li>
            <li class="desti-attribute">
              <i class="ri-pin-distance-line"></i>
              <span><strong>50 ++</strong>Destination</span>
            </li>
          </ul>
          <div class="button-card"><a href="Jawa-destination.html">Learn more</a></div>
        </div>
      </div>
    </div>
    <!-- end Destination -->

    <!-- Gallray Destination -->
<<<<<<< HEAD
    <div class="container-title-gallry">
      <h2 class="heading-secondary-gallry">
        DESTINATION FAVORIT ON TRAVELING KUY
      </h2>
    </div>
    <section class="Destination-gallry-home">
      <div class="container-gallry-home">
        <div class="card-gallry-home">
          <div class="img">
            <img src="../img/Paket-desti-jawa/Bromo, Nature East Jawa.jpg" alt="kuta">
          </div>
          <div class="content">
            <h2>Mount Bromo</h2>
          </div>
        </div>

        <div class="card-gallry-home">
          <div class="img">
            <img src="../img/Destination/Bias tugel.jpg" alt="">
          </div>
          <div class="content">
            <h2>Bias Tugel Beach</h2>
          </div>
        </div>

        <div class="card-gallry-home">
          <div class="img">
            <img src="../img/Destination/Balangan.jpg" alt="">
          </div>
          <div class="content">
            <h2>Balangan Beach</h2>
          </div>
        </div>


        <div class="card-gallry-home">
          <div class="img">
            <img src="../img/Destination/uluwatu.jpg" alt="">
          </div>
          <div class="content">
            <h2>Uluwatu Temple</h2>
          </div>
        </div>

        <div class="card-gallry-home">
          <div class="img">
            <img src="../img/Paket-desti-lombok/Pink Beach, Beach East Lombok.jpg" alt="">
          </div>
          <div class="content">
            <h2>Pink Beach</h2>
          </div>
        </div>

        <div class="card-gallry-home">
          <div class="img">
            <img src="../img/Destination/gitgit-twi.jpg" alt="">
          </div>
          <div class="content">
            <h2>Gitgit Waterfall</h2>
          </div>
        </div>


        <div class="card-gallry-home">
          <div class="img">
            <img src="../img/Paket-desti-jawa/Borobudur, Nature Magelang Central Jawa.jpg" alt="">
          </div>
          <div class="content">
            <h2>Borobudur</h2>
          </div>
        </div>

        <div class="card-gallry-home">
          <div class="img">
            <img src="../img/Paket-desti-jawa/Batu Bengkung Island, Beach Malang East Jawa.jpg" alt="">
          </div>
          <div class="content">
            <h2>Batu Bengkung Beach</h2>
          </div>
        </div>

        <div class="card-gallry-home">
          <div class="img">
            <img src="../img/Paket-desti-jawa/Baluran Forest, Nature Situbondo East Jawa.jpg" alt="">
          </div>
          <div class="content">
            <h2>Baluran Forest</h2>
          </div>
        </div>


      </div>
    </section>
=======

    <section class="galry">
      <div class="gambar">
          <img src="../img/Bromo.jpg" alt="Gunung Bromo">
      </div>

      <div class="gambar">
          <img src="../img/Destination/Bias tugel.jpg" alt="Bias Tugel Beach">
      </div>

      <div class="gambar">
          <img src="../img/Destination/Bratan.jpg" alt="Danau Bratan">
      </div>


      <div class="gambar">
          <img src="../img/Destination/uluwatu.jpg" alt="uluwatu">
      </div>

      <div class="gambar">
          <img src="../img/Desti-lombok/Beach 4.jpg" alt="">
      </div>

      <div class="gambar">
          <img src="../img/Destination/gitgit-twi.jpg" alt="">
      </div>



      <div class="gambar">
          <img src="../img/Paket-desti-jawa/Borobudur, Nature Magelang Central Jawa.jpg" alt="">
      </div>

      <div class="gambar">
          <img src="../img/Paket-desti-jawa/Batu Bengkung Island, Beach Malang East Jawa.jpg" alt="">
      </div>

      <div class="gambar">
          <img src="../img/Paket-desti-jawa/Baluran Forest, Nature Situbondo East Jawa.jpg" alt="">
      </div>


  </section>
>>>>>>> 525e78f35dc6624f9a3b6fcd2654ed972d5f73e9
    <!-- strat testimonial -->
    <header>
      <div class="container-testi">
        <div class="container__left">
          <h5>Testimonial</h5>
          <h1>Once you try it, you can't <span>go back</span></h1>
          <p>
<<<<<<< HEAD
            More than hundreds of travelers from various backgrounds have entrusted their trips to Traveling Kuy, and
            the results have been extraordinary. As a leading travel service provider, we have transformed their travel
            experience into an unforgettable adventure.
=======
            More than hundreds of travelers from various backgrounds have entrusted their trips to Traveling Kuy, and the results have been extraordinary. As a leading travel service provider, we have transformed their travel experience into an unforgettable adventure.
>>>>>>> 525e78f35dc6624f9a3b6fcd2654ed972d5f73e9
          </p>
        </div>
        <div class="container__right">
          <div class="card-testi">
            <img src="../img/customers/customer-1.jpg" alt="user" />
            <div class="card__content">
              <span><i class="ri-double-quotes-l"></i></span>
              <div class="card__details">
                <p>
<<<<<<< HEAD
                  I am very satisfied with my traveling experience with Traveling Kuy. They provide very professional
                  service!
=======
                  I am very satisfied with my traveling experience with Traveling Kuy. They provide very professional service!
>>>>>>> 525e78f35dc6624f9a3b6fcd2654ed972d5f73e9
                </p>
                <h4>- Maria</h4>
              </div>
            </div>
          </div>
          <div class="card-testi">
            <img src="../img/customers/customer-3.jpg" alt="user" />
            <div class="card__content">
              <span><i class="ri-double-quotes-l"></i></span>
              <div class="card__details">
                <p>
<<<<<<< HEAD
                  Thank you Traveling Kuy for a great travel experience! I was really impressed with the local knowledge
                  and friendly guide.
=======
                  Thank you Traveling Kuy for a great travel experience! I was really impressed with the local knowledge and friendly guide.
>>>>>>> 525e78f35dc6624f9a3b6fcd2654ed972d5f73e9
                </p>
                <h4>- Riana</h4>
              </div>
            </div>
          </div>
          <div class="card-testi">
            <img src="../img/customers/customer-4.jpg" alt="user" />
            <div class="card__content">
              <span><i class="ri-double-quotes-l"></i></span>
              <div class="card__details">
                <p>
<<<<<<< HEAD
                  I am very happy to have chosen Traveling Kuy for my trip. They arranged everything perfectly, from
                  accommodation to transportation.
=======
                  I am very happy to have chosen Traveling Kuy for my trip. They arranged everything perfectly, from accommodation to transportation.
>>>>>>> 525e78f35dc6624f9a3b6fcd2654ed972d5f73e9
                </p>
                <h4>- Stacy Stone</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end testimonial -->


    <!-- start form feedback-->
    <section class="form-feadback">
<<<<<<< HEAD
      <div class="container-fead">
        <div class="card-container">
          <div class="left">
            <div class="left-container">
              <h2>Give your testimony for traveling kuy</h2>
              <p>Share your experiences when traveling with traveling kuy every step of the journey brings positive </p>
            </div>
          </div>
          <div class="right">
            <div class="right-container">
              <form action="">
                <h2 class="Title-feadback">Traveling <span> Kuy</span></h2>
                <input type="text" placeholder="Name" class="inpt">
                <input type="email" placeholder="Your Email" class="inpt">
                <textarea rows="10" placeholder="Testimony"></textarea>
                <button type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
=======
    <div class="container-fead">
      <div class="card-container">
          <div class="left">
              <div class="left-container">
                  <h2>Give your testimony for traveling kuy</h2>
                  <p>Share your experiences when traveling with traveling kuy every step of the journey brings positive </p>
              </div>
          </div>
          <div class="right">
              <div class="right-container">
                  <form action="">
                      <h2 class="Title-feadback">Traveling <span> Kuy</span></h2>
                      <input type="text" placeholder="Name" class="inpt">
                      <input type="email" placeholder="Your Email" class="inpt">
                      <textarea rows="10" placeholder="Testimony"></textarea>
                      <button type="submit">Submit</button>
                  </form>
              </div>
          </div>
>>>>>>> 525e78f35dc6624f9a3b6fcd2654ed972d5f73e9
      </div>
 </div>
</section>
    <!-- end form feedback -->
    <footer id="contak">
      <div class="footer-content">
<<<<<<< HEAD
        <h3>Traveling Kuy</h3>
        <h3>Culture|Nature|Beach</h3>
        <p>We are a dedicated travel team, committed to providing you with the best holiday experience. </p>
        <ul class="social-icons">
          <i class="ri-instagram-line"></i>
          <i class="ri-facebook-circle-line"></i>
          <i class="ri-whatsapp-line"></i>
        </ul>
      </div>
      <div class="footer-bottom">
        <p>copyright &copy;2023 Group-4</p>
      </div>
    </footer>
=======
          <h3>Traveling Kuy</h3>
          <h3>Culture|Nature|Beach</h3>
          <p>We are a dedicated travel team, committed to providing you with the best holiday experience. </p>
          <ul class="social-icons">
            <i class="ri-instagram-line"></i>
            <i class="ri-facebook-circle-line"></i>
            <i class="ri-whatsapp-line"></i>
          </ul>
      </div>
      <div class="footer-bottom">
          <p>copyright &copy;2023 Group-4</p>
      </div>
  </footer>
>>>>>>> 525e78f35dc6624f9a3b6fcd2654ed972d5f73e9
</body>

</html>