<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Now</title>
</head>

<body>
    <link rel="stylesheet" href="../css/invoice.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- 2 -->
    <!-- ------------------------------------------------------------------------------------------- -->
    <!-- 3 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <!-- ------------------------------------------------------- -->

    <!-- link box icon -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- -------------------------------------------------------------- -->

    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <!-- ------------------------------------------------------------- -->
</body>
<header class="header">
    <div class="button-back">
        <button><a href="index"> Back Home </a></button>

    </div>
    <div class="label-head">
        <h3>Reservation</h3>
        <p>Summary your Reservation choice</p>
    </div>
</header>
<div class="container">
    <div class="service">
        <section class="chek">
            <div class="title">
                <h3>Reservation Summary</h3>
            </div>
            <div class="features">
                <div class="feature">
                    <p class="feature-title">CHECK IN</p>
                    <p>Sat, 10 Okt 2023</p>
                    <p>FROM 08:00 AM</p>
                </div>
                <div class="feature">
                    <p class="feature-title">CHECK OUT</p>
                    <p>Sat, 10 Okt 2023</p>
                    <p>FROM 08:00 AM</p>
                </div>
            </div>
        </section>
        <div class="person">
            <section class="personal-info">
                <div class="info">
                    <div class="title-pi">
                        <h4>PERSONAL INFORMATION</h4>
                    </div>
                    <div class="data-personal">
                        <ul>
                            <li>Name <span>: Puja Shindu Astawa</span> </li>
                            <li>Email <span>: PujaShindu@gmail.com</span> </li>
                            <li>Phone <span>: 08574581236</span> </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="jumlah-room">
                <div class="title-room">
                    <h4>ROOM</h4>
                </div>
                <div class="data-room">
                    <ul>
                        <li>Total Booking <span>: 2 Days</span> </li>
                    </ul>
                </div>
            </section>

            <section class="transpot">
                <div class="title-trans">
                    <h4>EXTRAS</h4>
                </div>
                <div class="data-trans">
                    <ul>
                        <li>Transport <span> : Apv Car</span> </li>
                        <li>F & B <span> : - </span> </li>
                        <li>Stay Of Pet <span> : - </span> </li>
                    </ul>
                </div>
            </section>

            <section class="guide">
                <div class="title-guide">
                    <h4>Drivers or Guide</h4>
                </div>
                <div class="data-guide">
                    <ul>
                        <li>Guide Name <span> : Ucup</span> </li>
                        <li>Contact <span> : 03115057509 </span> </li>
                    </ul>
                </div>
            </section>


        </div>
        <section class="sumary">
            <div class="title-sumary">
                <h4>Price Summary</h4>
            </div>
            <div class="data-sumary">
                <ul>
                    <li>ROOM</li>
                    <li>EXTRAS </li>
                    <li>Drivers or Guide</li>
                    <li>Taxes</li>
                </ul>
            </div>
        </section>

        <section class="price">
            <div class="price-total">
                <h4>Total Price</h4>
            </div> 
        </section>
    </div>
   
</div>
</div>
<footer class="footer">
    <p>copyright &copy;2023 Group-4 Section Surabaya</p>
    <div class="social-icons">
        <i class="ri-instagram-line"></i>
        <i class="ri-facebook-circle-line"></i>
        <i class="ri-whatsapp-line"></i>
    </div>
</footer>

</html>