<!-- invoicee.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bali-destination</title>
    <link rel="stylesheet" href="../css/invoice.css">
    <script src="../js/Booking.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Alkalami&family=Caveat&family=Dancing+Script&family=Domine:wght@400;500&family=DynaPuff&family=Great+Vibes&family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,500;1,100&family=Roboto:wght@100&family=Sansita+Swashed:wght@300;400;500&family=Smooch&family=Smooch+Sans:wght@100&family=Viga&display=swap"
        rel="stylesheet">
    <!-- --------------------------------------------------------------------------------------------- -->
    <!-- 2 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <div id="invoiceContainer">
        <h1>INVOICE</h1>
        <div id="invoiceContent"></div>
<<<<<<< HEAD
        <table>
            <tr>
                <td>Full name</td>
                <td><%= data.full_name%></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><%= data.email%></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><%= data.phone%></td>
            </tr>
            <tr>
                <td>Nama Hotel</td>
                <td>Hotel Serenity Palace</td>
            </tr>
            <tr>
                <td>Hotel Addrese</td>
                <td>Canggu, Denpasar</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>$200</td>
            </tr>
            <tr>
                <td>Vehicle Name</td>
                <td>AVP CAR</td>
            </tr>
            <tr>
                <td>Police Number</td>
                <td>B 1234 NDC</td>
            </tr>
            <tr>
                <td>Guide Name</td>
                <td>Jhon Doe</td>
            </tr>
            <tr>
                <td>Destination Price</td>
                <td>$510.00 USD</td>
            </tr>

        </table>
    </div>
    
=======
    </div>

    <script>

        // Ambil parameter dari URL
        var urlParams = new URLSearchParams(window.location.search);
        var invoiceText = urlParams.get("invoiceText");

        // Tampilkan data di halaman
        if (invoiceText) {
            // Decode data dari URL
            var decodedInvoiceText = decodeURIComponent(invoiceText);
            document.getElementById("invoiceContent").innerHTML = decodedInvoiceText;
        } else {
            console.error("Data invoice tidak ditemukan");
        }
    </script>
>>>>>>> 525e78f35dc6624f9a3b6fcd2654ed972d5f73e9
</body>

</html>
