<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <link rel="stylesheet" href="../css/lokasi.css">
    <script src="../js/maps.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- 2 -->
    <!-- ------------------------------------------------------------------------------------------- -->
    <!-- 3 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <!-- ------------------------------------------------------- -->

    <!-- link box icon -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- -------------------------------------------------------------- -->

    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <!-- ------------------------------------------------------------- -->
</body>
<header class="header">
    <div class="button-back">
<<<<<<< HEAD
        <button><a href="index.html"> Back Home </a></button>
=======
        <button><a href="/"> Back Home </a></button>
>>>>>>> 525e78f35dc6624f9a3b6fcd2654ed972d5f73e9

    </div>
    <div class="label-head">
        <h3>Booking Hotel</h3>
        <p>Booking according to your choice</p>
    </div>
</header>
<nav class="main-nav">
    <ul class="main-nav-list">
        <li><a class="main-nav-link" href="#">Summary</a></li>
        <li><a class="main-nav-link" href="#">Maps</a></li>
        <li><a class="main-nav-link" href="#">Book Now</a></li>
    </ul>
</nav>

<div class="container">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3945.700309365862!2d115.24541851411718!3d-8.528448588760808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd23d972fdf9025%3A0x8e47c64cbd794b90!2sDIKA%20UDENG%20BALI!5e0!3m2!1sid!2sid!4v1657178569766!5m2!1sid!2sid"></iframe>
</div>
</div>
<footer class="footer">
    <p>copyright &copy;2023 Group-4 Section Surabaya</p>
    <div class="social-icons">
        <i class="ri-instagram-line"></i>
        <i class="ri-facebook-circle-line"></i>
        <i class="ri-whatsapp-line"></i>
    </div>
</footer>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
</script>

</html>