<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="../css/profil.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- 2 -->
    <!-- ------------------------------------------------------------------------------------------- -->
    <!-- 3 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <!-- ------------------------------------------------------- -->

    <!-- link box icon -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- -------------------------------------------------------------- -->

    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <!-- ------------------------------------------------------------- -->
</head>

<body>
    <header class="header">
        <div class="button-back">
            <button><a href="/">Log Out</a></button>
        </div>
    </header>

    <div class="container">
        <aside>
            <div class="image">
                <img src="../img/Profil/customer-4.jpg" alt="">
            </div>
            
            <div class="name-profil">
                <h4>Puja Shindu Astawa</h4>
                <p>pujashinduastawa@gmail.com</p>
            </div>
        </aside>
        <main>
            <div class="judlul-profil">
                <h3>MY PROFILE</h3>
            </div>
            <hr>
            <section class="form-personal">
                <form class="cta-form" action="#">
                    <div>
                        <label for="full-name">First Name</label>
                        <input id="full-name" type="text" placeholder="John Smith" required />
                    </div> 
    
                    <div>
                        <label for="full-name">Last Name</label>
                        <input id="full-name" type="text" placeholder="John Smith" required />
                    </div> 
    
                    
                    <div>
                        <label for="full-name">Phone Number</label>
                        <input id="full-name" type="text" placeholder="+628333" required />
                    </div> 
    
    
                    <div>
                        <label for="email">Email address</label>
                        <input id="email" type="email" placeholder="me@example.com" required />
                    </div>
                    
                    <div>
                        <label for="full-name">Place of Brith</label>
                        <input id="full-name" type="text" placeholder="Indonesia" required />
                    </div> 

                    <div>
                        <label for="full-name">Date of Birth</label>
                        <input id="full-name" type="text" placeholder="John Smith" required />
                    </div> 

                    <div>
                        <label for="full-name">City</label>
                        <input id="full-name" type="text" placeholder="" required />
                    </div> 

                    <div>
                        <label for="full-name">State Country</label>
                        <input id="full-name" type="text" placeholder="John Smith" required />
                    </div> 

                    <div>
                        <label for="full-name">Poscode</label>
                        <input id="full-name" type="text" placeholder="John Smith" required />
                    </div> 

                    <div>
                        <label for="full-name">Country</label>
                        <input id="full-name" type="text" placeholder="John Smith" required />
                    </div> 

                    <!-- <div class="button-back">
                        <button><a href="index.html">Log Out</a></button>
                    </div> -->

                    <div class="button-profil">
                        <button><a href="Profil">UPDATE</a></button>
                    </div>
                    <div class="button-profil">
                        <button><a href="index">SAVE</a></button>
                    </div>
                </form>
            </section>
        </main>
    </div>

    <!----------------------------------------------CARD BOOKING---------------------------------------- -->
        <footer class="footer">
            <p>copyright &copy;2023 Group-4 Section Surabaya</p>
            <div class="social-icons">
                <i class="ri-instagram-line"></i>
                <i class="ri-facebook-circle-line"></i>
                <i class="ri-whatsapp-line"></i>
            </div>
        </footer>
</body>


</html>