<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singn-up-Traveling Kuy</title>
    <link rel="stylesheet" href="../css/sign.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alkalami&family=Caveat&family=Dancing+Script&family=Domine:wght@400;500&family=DynaPuff&family=Great+Vibes&family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,500;1,100&family=Roboto:wght@100&family=Sansita+Swashed:wght@300;400;500&family=Smooch&family=Smooch+Sans:wght@100&family=Viga&display=swap"
        rel="stylesheet">
    <!-- --------------------------------------------------------------------------------------------- -->
    <!-- 2 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- 2 -->
    <!-- ------------------------------------------------------------------------------------------- -->
    <!-- 3 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <!-- ------------------------------------------------------- -->
    <!-- 4 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <!-- ----------------------------------------------- -->

    <!-- link box icon -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- -------------------------------------------------------------- -->

    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <!-- ------------------------------------------------------------- -->
</head>

<body>
    <div class="container">
        <div class="login">
            <form action="/api/users" method="POST">
                <h2>Welcome User! </h2>
                <p class="sub-head">Sign Up Herey</p>
                <hr>
                <P>Enter your valid personal details
                    we protect your data</P>
                <div class="form-group">
                    <label for="username"></label>
                    <input type="text" id="username" name="username" placeholder="Enter Your Username" required>
                </div>
                <div class="form-group">
                    <label for="password"></label>
                    <input type="password" id="password" name="password" placeholder="Password (use strong password)" required>
                </div>
                <div class="form-group">
                    <label for="name"></label>
                    <input type="text" id="name" name="name"  placeholder="Name">
                </div>

                <button type="submit">Login</button>
                <div class="action-more">
                    <p>Sudah Punya Akun ? <a href="login">Login</a></p>
                </div>


            </form>

        </div>
    </div>
        <div class="img-right">
            <img src="../img/login.jpg" alt="">
        </div>
        <script>
            function kirimData() {
                const username = document.getElementById('username').value;
                const password = document.getElementById('password').value;
                const name = document.getElementById('name').value;

                // Tambahkan field lain sesuai kebutuhan

                const data = { username, password, name };

                // Kirim data ke server menggunakan Fetch API
                fetch('http://localhost:3000/api/users', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept' : 'application/json'
                    },
                    body: JSON.stringify(data),
                })
                    .then(response => response.json())
                    .then(result => {
                        console.log('Respon dari server:', result);
                        // Handle respon dari server sesuai kebutuhan
                    })
                    .catch(error => {
                        console.error('Gagal mengirim data:', error);
                        // Handle kesalahan sesuai kebutuhan
                    });
            }
        </script>

</body>


</html>